<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <% if(isAuthenticated != true) {%>
        <nav>
            <a href="/log-in">Log in</a>
            <a href="/sign-up">Sign up</a>
        </nav>
        <h1>You are not authenticated</h1>
    <% } else { %> 
        <nav>
            <a href="/log-out">Log out</a>
        </nav>
        <h1>Hi, <%= username %></h1>
        <form action="/send-message" method="post">
            <textarea name="message" placeholder="Type here..."></textarea>
            <button type="submit">Send</button>
        </form>
    <% } %>
    <ul>
        <% locals.messages.forEach(message => { %>
            <li>
                <%= message.message %>
            </li>
            <div>
                <p>YYYY-MM-DD HH:mm:ss</p>
                <p>username</p>
            </div>
        <% }) %>
    </ul>
</body>
</html>